.statText{
    font-size: larger;
    color: black;
    text-align:center;
    margin:auto;
    padding-top: 0.5em;
}

.statTextOver{
    font-size: larger;
    color: white;
    text-align:center;
    margin-top:-1em;
}
